body{
    background: #FFFFFF;
    margin:0;
    padding: 0px;
    height: auto;
    width: 100%;
    font-size: 3vw;
}

.container{
    margin: 0 auto;
    padding: 0;
    background: #FFFFFF;
    }

/***.link-title{
    text-decoration: none;
    font-size: 30px;
    color: #444444;
}


/***.container{
    width: 780px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 9px 13px 5px;
    }

.header{
    padding:  45px 0 20px 40px;
    }

#logo{
    float: left;
    width: 250%;
    height: 158px;
    padding-left: 50px;
}

/*****img.ri{
    width: 130px;
    margin: 0 0 0 -65px;
    position: relative;
    left: 50%;
}
.menu{
width: 70%;
height:100px;
float: right;
}

.menu ul{
    margin-left: 200px;
}

.menu ul li{

    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    margin-top: 18px;
}

.menu ul li:hover{
    color:#ecf2f3;

}****/
/****aside{

    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}******/

.menu{
    width: 100%;
    height: 100px;
    background-color:#ebfaed;
    margin: 0px;
}

.leftmenu{
    width: 20%;
    line-height: 100px;
    float: left;
}

.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', Sans-serif;
    margin-top: 8px;
}

.rightmenu{
    width: 70%;
    height: 100px;
    float: right;
}

.rightmenu ul{
    margin-left: 200px;
}

.rightmenu ul li{
    font-family:  'Montserrat', Sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 90px;
    margin-left: 40px;
}
/****#firstlist{
    color: lawngreen;
}***/
.rightmenu ul li a:hover{
    color: #ed02da;
}

.rightmenu ul li a{
    text-decoration: none;
    color: #3b0469;
}

/****.text{
    margin-left: 50px;
    margin-top: 50px;


}
.text h1{
    color: #869843;
    font-size: 24px;
    font-family: "Arial Narrow","Myriad Pro";
    font-weight: bold;
}

.text h2{
    color: #025c2c;
    font-size: 60px;
    font-family: "Garamond", serif;
    font-weight: 700px;
    padding: 50px;

}
.text h3{
    color: #000000;
    font-size: 20px;
    font-family: "Arial Narrow","Myriad Pro";
    font-weight: 200px;
    padding-bottom: 20%;
}*****/

#home_detail .banner{
    position: relative;
    background-size: cover;
}

#home_detail .banner .mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color:
}

#home_detail .banner .box{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
    text-align: center;
    }

#home_detail .banner .box h1{
    font-size: 60px;
    font-family: "Garamond", serif;
    color: #FFFFFF;
    font-weight: 700;
    width: 60%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

div{
    font-family: "Garamond", serif;
    font-weight: 400;
    font-size: 18px;
    color:#000000;

}

#home_detail .banner .box a{
    display: inline-block;
    clear: both;
    border: #ffffff solid 3px;
    font-size: 33px;
    padding: 8px 20px 8px 20px;
    color: #ffffff;
    text-decoration-line: none;
    }

#home_detail .calltoaction{
    padding-bottom: 80px;
    border-bottom: #ccc solid 1px;

}

#home_detail .banner .box a:hover{
 color: #ed02da;
}
/***.main{
    padding: 35px 40px 30px 0px;
    color: #444444;
    font-family: "Georgia";
    font-size: 13px;
    line-height: 18px;
    text-emphasis: "justify";

}

.main a:hover{
    color: #444444;
}

#home-image img{

   background: linear-gradient(rgba(0,15,0,0.3),rgba(0,0,5,0.3)), url(limestone.jpg);
	background-size: 100% 110%;
	width: 100%;
	height: 50vh;
	background-repeat: no-repeat;
	background-position: center;
	display: table;

}***/
.page-heading{
    text-align: lef;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    color: #37b54b;
    font-weight: 600;
    margin-bottom: 16px;
}

footer {
    padding: 6px 40px 6px 40px;
    background: #000000;
    font-family: "Lucida Sans Unicode";
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: right;
}

/*
.footer a img{
     padding-left: 150%;
     margin-top: 50px;
     margin-left: 100px;
}
*/

.f-base{
    color: #FFFFFF;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
/*    margin-top: -40px;*/
    justify-content: space-around;
}

#copyright{
    padding-top: 5.5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color:#404040;
}

.separator{
    color: #404040;
    font-size: 11px;
}

#intro_detail .banner .mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background-color:
}

#intro_detail .banner .box{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
    text-align: center;
    }

#intro_detail .banner{
    background-size: cover;
    position: relative;
}

#intro_detail .banner .box h1{
    font-size: 60px;
    font-family: "Garamond", serif;
    color: #FFFFFF;
    font-weight: 700;
    width: 60%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}

.content body{
    clear: both;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height: 500px;
    background-color: transparent;
}
.columns{
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-color: #ffffff;
}

.large-two{
    margin-top: 50px;
    margin-left: 100px;
    background-color: transparent;
    width: 85%;
}
.content-space{
    margin-top: 13px;
    margin-bottom: 50px;
}

h1{
    font-size: 52px;
    font-weight: bold;
    color: #000000;
}

h2{
    font-family: "Garamond", serif;
    font-size: 30px;
    font-weight: bold;
    color: #37b54b;
    margin: 20 0 25px 0;
    clear: right;
}

p{
    font-family: "Garamond", serif;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    margin-top: 10;
    text-align: left;
}


/********** About Us Page Styles *******/

/**#about-page #home-image img{
    float: left;
    margin-bottom: 20px;
}

#about-page #profile-info{
    float: right;
    width: 20%;
    margin: 5px;
}

#about-page .description{
    clear: both;
}**/

#about-page .map{
    float: left;
    margin-top: 25px;
    margin-right: 70px;
    margin-bottom: 70px;
    border: 1px solid #ed02da;
}

#about-page .contactus a{
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px 24px 10px 24px;
    border: 3px dotted;
    font-weight: bold;
    color: #000000;
    display: inline-block;
}

#about-page a{
    text-decoration: none;
    background-color: transparent;
}
#about-page a:hover{
    color: #ed02da;
}


/******** Contact Page Styles *********/

/*#contact #page .content{
    margin: 77px 0 30px o;
}

#contact #page .row{
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
#contact #page .row::before, .row::after{
    content: '';
    display: table;
}
#contact #page .column{
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}

#contact #page.desc{
    margin-top: 50px;
}
#contact #page.droplist{
    margin: 40px 0;
}
div{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #404040;
}**/

/**#contact .main{
    margin: 0;
    padding: 5px;
    background-color: lightgray;
    font-family: Georgia;
}
#contact .main >h1 {
    margin: 10px;
    padding: 5px;
}
#contact .main p{
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

#contact #form {

     width: 500px;
    padding: 10px 10px 10px 10px;
     margin: 0 auto;
     box-shadow: 0px 9px 13px 5px;
     border-radius: 5px;
    background: #ffffff;
}

#contact #form input {
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: #D6D6D6;
}

#contact #form #message {
    width: 100%;
    border-radius: 5px;
    height: px;
    background: #D6D6D6;
}

#contact #form #submit {
    background: green;
border-color: transparent;
color: #fff;
font-size: 20px;
font-weight: bold;
letter-spacing: 1px;
height: 50px;
margin-top: 20px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-height: 1140px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-12{
    flex: 0 0 100%;
    max-width: 100%;
}
h1{
    font-size: 52px;
    font-weight: bold;
    color: #000000;
}**/

#contact input[type=text], textarea {
    width: 95%;
    padding: 12px;
    border: none;
    border-bottom: 3px solid #37b54b;
    border-radius: 4px;
    resize: vertical;
}
#contact label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#contact input[type=submit]{
    width: 75%;
    margin-top: 10px;
    background-color: #37b54b;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
#contact input[type=submit]:hover{
    background-color: #37b54b;
}

#contact .col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}
#contact .col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

#contact #form {
    width: 650px;
    padding: 10px 30px 30px 30px;
     margin: 0 auto;
    margin-bottom: 100px;
     border-radius: 5px;
    background: #ebfaed;
}

#contact #form .form-row:after {
    content: "";
    display: table;
    clear: both;
}


